body {
  background:  #2B2733;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

p {
  padding: 0;
  margin: 0;
}

.study-preselect-image {
  width: 1.5em ;
  height: 1.5em;
}

.meditate-preselect-image {
  width: 1.5em ;
  height: 1.5em;
}

.exercise-preselect-image {
  width: 1.5em ;
  height: 1.5em;
}

.study-selected-image {
  width: 1.5em ;
  height: 1.5em;
}

.meditate-selected-image {
  width: 1.5em ;
  height: 1.5em;
}

.exercise-selected-image {
  width: 1.5em ;
  height: 1.5em;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #46424D;
  font-size: 1.5em;
  height: 3em;
}

.box-study {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
  height: 3.5em;
  width: 7em;
  font-size: 1.2em;
}
.study-colors {
  border-color: #B3FD78;
  color: #B3FD78;
}
.box-meditate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
  height: 3.5em;
  width: 7em;
  font-size: 1.2em;
}
.meditate-colors {
  border-color:  #C278FD;
  color:  #C278FD;
}
.box-exercise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
  height: 3.5em;
  width: 7em;
  font-size: 1.2em;
}
.exercise-colors {
  border-color: #FD8078;
  color: #FD8078;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
}

.new-activity-timer {
    display: flex;
    background-color: #46424D;
    padding: 4em;
    padding-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
}

.current-activity-box {
    display: flex;
    background-color: #46424D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    margin-left: 2em;
    margin-right: 2em;
}

.place-holder {
    font-size: 1.5em;
    margin: 2em;
    margin-bottom: 1em;
}

#timer {
    font-size: 3em;
}

.start-button {
    height: 15em;
    width: 15em;
    color: white;
    background-color: #46424D;
    border-radius: 50%;
    border: 2px solid;
    margin: 2em;
}

.activity-panel {
    display: flex;
    flex-direction: row;
}

.past-activities {
    display: flex;
    border-left: solid 3px;
    border-color: #46424D;
    height: 70em;
}

.minutes-seconds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5em;
}

.input-box1 {
    color: white;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 5px;
    margin-top: 3em;
}
.input-box2 {
    color: white;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    width: 170%;
    padding: 5px;
    margin-top: 3em;
}
.input-box3 {
    color: white;
    background-color: #46424D;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 5px;
    margin-right: 5em;
    margin-top: 3em;
}
.start-box-div {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5em;
}
.start-btn {
  border: none;
  border-radius: 5%;
  padding: 1.2em;
}
h2 {
  margin-left: 1.2em;
}
.seconds-box {
  margin: 0;
}

.hidden {
    display: none;
}
