body {
  background:  #2B2733;
  color: white;
  margin: 0;
  padding: 0;
}

.preselect-image {
  width:15% ;
  height:15%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #46424D;
  font-family: 'Montserrat';
  font-size: 1.5em;
  height: 3em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 100px;
  width: 100px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.new-activity-timer {
    display: flex;
    background-color: #46424D;
    padding: 4em;
    padding-top: 2em;
}

.activity-panels {
    display: flex;
    flex-direction: row;
}

.past-activities {
    display: flex;
    border: solid 1px;
}

.minutes-seconds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}